html, body {
    height: 100%
}

#editor-post-title {
    flex: 1 1;	    
}

.editor-grouper {
    
}

.editor-top {
    flex: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.tagview {
    display: table;
}

.tagview > button {
    display: table-cell;
}

.tagview > select {
    display: block;
}

.tag {
    font-size: 0.7em;
}

#editor-post-content {
    display: block;
    position: absolute;
    height: 100%;
    width: 80%;
}

#editor-buttons * {
    display: block;
}

#selector-div {
    
}

#selector-div img {
    width: 300px;
    height: 300px;
    padding: 1em;
}

#selector-div img:hover {
    background-color: #880088;
}

.left-sidebar {
    flex: 1 1;
}

.left-sidebar > ul {
    display: flex;
    flex-flow: row wrap;
}

.left-sidebar > ul > li {
    flex: 1 1;
    list-style: none;
}

.page {
    flex: 8 1;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
    max-width: 100%;
}

.post {
    width: 100%;
    margin-bottom: 4em;
}

body, dialog {
    background-color: #000000;
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    color: #FFF;
}

.meta {
    color: #666666;
}

.meta img {
    margin: 1.5em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.title-flex-container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10%;
}

.title-flex-container > * {

}

.title-flex-container > a {
    flex: 1 4;
}

.vertical-flex-container {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
}

.post-admin-title {
    flex: 3 1;
}

#sidebar {

    margin-top: 3em;
    width: 25%;
}

#loginview {
    border-top: 2px solid #666666;
    border-bottom: 2px solid #666666;
}

#loginview button {
    display: block;
    margin-bottom: 30px;
}

#loginview a {
    display: block;
}

.user_avatar {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

label {
    display: block;
}

textarea {
    width: 100%;
    height: 100%;
}

.blog-title {
    color: #FFFFFF;
}

.blog-title:hover {
    color: #0000FF;
}

.commenting-area {
    margin-top: 60px;
}

#form button {
    display: block;
}

#import-form input {
    display: block;
}

.newer-post {
    float: right;
}

a.tag:visited {
    color: purple;
}
a.tag {
    color: blue;
}

a:visited {
    color: #B0B;
}

a {
    color: #06F;
}

a:hover {
    color: #FFF;
}

#grouper ul {
    list-style: none;
}

.title-list li {
    margin: 10px;
}

header {
    font-size: 3em;
    color: #FFF;
    display: table;
    margin: 0 auto;
    max-widht: 70%;
}

.version-container {
    float: right;
    position: relative;
    right: 0px;
}

.version-container a {
    padding-right: 5px;
}

.big_font {
    font-size: 2em;
}

.media-row {
    padding-bottom: 10%;
}

.murja-button
{
    border: 5px solid #FFF;
    background-color: #000;
    color: #FFF;
    margin: 5px;
    border-radius: 15px;

}

#new-tag-btn
{
    display: block;
}

.form-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    height: fit-content;
}

.form-grid label {
    grid-column: 1;
}  

.form-grid input {
    grid-column: 2;
}

.previouslyHeader {
    display: flex;
    justify-content: flex-end;
}

.previouslyPostResult {
    display: block;
}

.page-changer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tags {
    background-color: #A0A0A0;
    font-size: 1.3em;
}

.feed {
    list-style: none;
    width: 100%;
    margin-bottom: 100px;
}

.feed-list {
    display: block;
}

.feed header {
    display: block;
}

.feed-items {
    height: 500px;
    overflow-y: scroll;
}

.feed-items li {
    list-style: none;
}

.feed-author {
    margin-left: 1em;
}

.feed-item {
    display: flex;
    flex-direction: row;
}

.tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tab-headers {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
}

.tab-header {
    border-bottom: 2px solid;
}

.tab-selected {
    border-bottom: 2px solid #00F;
}

#feeds {
    width: 100%;
}

.feed-manager-container {
    width: 100%;
}

.sidebar-flex {
    display: flex;
    flex-direction: row;
}

.editor-container {
    flex: 3;
}

.posteditor-tab {
    display: flex;
    flex-direction: column;
}

#posteditor-preview-tab {
    flex: 3;
}

.dialog {
    width: 60%;
    height: 60%;
}

.excerpt {
    float: right;
    background-color: #999;
    color: #000;
    border: 2px solid #FFF;
    width: 40%;
}

.excerpt header {
    font-size: unset;
}

.loggroup-summary {
    /* display: inline; */
}

.loggroup-summary-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

@media only screen and (max-device-width:480px)
{
    body {
	font-size: 3em;
    }
}
